@media all and (min-width: 1600px)
  body.index aside form
    font-size: larger

@media all and (min-width: 1024px)
  body.index aside
    font-size: larger

@media all and (min-width: 800px)
  nav
    padding-bottom: 2em
  nav, body.index aside, main, #filecontent, iframe
    height: 100%

@media all and (max-width: 800px)
  header
    padding: 0
    font-size: small
    &:before
      font-size: 2em
  // Presentation stacked vertically
  nav, aside, main
    width: 100% !important

  body.index
    nav
      height: 100%
    aside
      bottom: 0
      height: 10em
      position: absolute
      background-color: transparent

  body.show, body.edit
    display: flex
    flex-direction: column
    tr
      display: none
    tr.domain, tr.parent, tr.current, tr.selected
      display: inline-block
      position: relative
      a:last-child
        display: inline-block
        padding: 0.6em 0
    aside
      display: none
    main
      height: 100%
      font-size: smaller

@media all and (max-width: 600px)
  html
    padding: 0
  aside form
    font-size: smaller !important
  .ace_gutter
    display: none
