!!!
/[if lt IE 7] <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='fr'>
/[if IE 7] <html class='no-js lt-ie9 lt-ie8' lang='fr'>
/[if IE 8] <html class='no-js lt-ie9' lang='fr'>
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta(charset='utf-8')/
    %meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')/

    %meta(content='' name='description')/

    = stylesheet_link_tag 'all'
    = javascript_include_tag 'all'

  %body
    %header
      %h1 Simple Web

    = yield
