:coffee
  window.archetype =
    "---\ntitle: Title of an empty page\ndate: " +
    (new Date()).toJSON().substring(0, 10) +
    "\n---\n\n"
  window.defaultExtension = 'md'

%nav
  %table
    %tr
      %th
        %img(alt='[OCE]' src='/images/blank.gif')
      %th
        Name

    %tr
      %td
        %a(href='/essai/enCours/')
          %img(alt='[PARENTDIR]' src='/images/back.gif')
      %td
        %a(href='/essai/enCours/') Parent Directory
    %tr
      %td
        %a(href='images')
          %img(alt='[DIR]' src='/images/folder.gif')
      %td
        %a(href='images') images/
    %tr
      %td
        %a(href='/images/acoeuroGnu.png')
          %img(alt='[IMG]' src='/images/image2.gif')
      %td
        %a(href='/images/acoeuroGnu.png') gnu.png
    %tr
      %td
        %a(href='test/markdown')
          %img(alt='[TXT]' src='/images/text.gif')
      %td
        %a(href='test/markdown') markdown.md
    %tr
      %td
        %a(href='test/markdownWithTomlMeta')
          %img(alt='[TXT]' src='/images/text.gif')
      %td
        %a(href='test/markdownWithTomlMeta') markdownWithTomlMeta.md
    %tr
      %td
        %a(href='test/secondFile.html')
          %img(alt='[TXT]' src='/images/text.gif')
      %td
        %a(href='test/secondFile.html') secondFile.html
    %tr
      %td
        %a(href='test/script.js')
          %img(alt='[TXT]' src='/images/text.gif')
      %td
        %a(href='test/script.js') script.js
    %tr
      %td
        %a(href='test/dynamic.html')
          %img(alt='[TXT]' src='/images/text.gif')
      %td
        %a(href='test/dynamic.html') dynamic.html
    %tr
      %td
        %a(href='test/empty')
          %img(alt='[TXT]' src='/images/text.gif')
      %td
        %a(href='test/empty') empty
    %tr
      %td
        %a(href='test/accentue')
          %img(alt='[TXT]' src='/images/text.gif')
      %td
        %a(href='test/accentue') accentué.md
